@use "palette"as p;
@import "mixins";

body {
    margin: 0;
    padding: 0;

    @include light {
        background-color: map-get(p.$light-theme-colors, primary);
    }

    @include dark {
        background-color: map-get(p.$dark-theme-colors, primary);
    }
}