@use "palette"as p;
@use "mixins"as m;

.footer {
    padding: 15px;

    &--center {
        text-align: center;
    }

    &__span {
        color: map-get(p.$special-colors, heart);
    }

    @include m.light {
        background-color: map-get(p.$light-theme-colors, secondary);
    }

    @include m.dark {
        background-color: map-get(p.$dark-theme-colors, secondary);
    }
}