@use "palette"as p;
@use "mixins"as m;


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 5%;

    a {
        text-decoration: none;
        white-space: nowrap;
        padding: 0 1vw;
    }

    &__list {
        padding: 0 1vw;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        width: 35vw;

        &__item {
            border-radius: 5px;

            &:hover {
                @include m.light {
                    background-color: map-get(p.$light-theme-colors, tertiary);
                }

                @include m.dark {
                    background-color: map-get(p.$dark-theme-colors, tertiary);
                }
            }
        }
    }

    @include m.light {
        background-color: map-get(p.$light-theme-colors, secondary);
        box-shadow: 0px 0px 7px 0px map-get(p.$dark-theme-colors, secondary);
    }

    @include m.dark {
        background-color: map-get(p.$dark-theme-colors, secondary);
        box-shadow: 0px 0px 7x 0px map-get(p.$light-theme-colors, secondary);
    }
}