@use "palette"as p;
@import "mixins";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px 0 40px;

    &__list {
        display: flex;
        justify-content: space-around;
        list-style: none;

        &__item {
            padding: 0 20px 0 20px;
        }
    }

    @include light {
        background-color: map-get(p.$light-theme-colors, secondary);
    }

    @include dark {
        background-color: map-get(p.$dark-theme-colors, secondary);
    }
}