@use "palette"as p;
@use "mixins"as m;

@mixin section-background {
    @include m.light {
        background-color: map-get(p.$light-theme-colors, secondary);
    }

    @include m.dark {
        background-color: map-get(p.$dark-theme-colors, secondary);
    }
}

@mixin section-display ($display, $flex-direction, $align-items, $justify-content, $text-align) {
    display: $display;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
    text-align: $text-align;
}

section {
    $section-padding-default: (phone: (15vh 7vw),
            tablet: (30vh 10vw 40vh),
            desktop: (35vh 10vw 40vh),
        );

    @include m.phone {
        padding: map-get($section-padding-default, phone);
    }

    @include m.tablet {
        padding: map-get($section-padding-default, tablet);
    }

    @include m.desktop {
        padding: map-get($section-padding-default, desktop);
    }
}

.landing {
    @include m.phone {
        @include section-display(flex, column, center, center, left);

        &__image {
            @include m.display-image(map-get(m.$device-sizes, phone));
        }
    }

    @include m.tablet {
        @include section-display(flex, column, center, center, center);

        &__image {
            @include m.display-image(map-get(m.$device-sizes, tablet));
        }
    }

    @include m.desktop {
        @include section-display(flex, row, center, space-between, left);

        &__image {
            @include m.display-image(map-get(m.$device-sizes, desktop));
        }
    }

    &__text {
        padding-right: 3vw;

        &__image-container {
            img {
                padding: 0 1vw 0 0;
                width: 40px;
                height: 40px;

                &:hover {
                    @include m.light {
                        filter: brightness(0.8);
                        filter: drop-shadow(0 0 1px map-get(p.$dark-theme-colors, primary));
                    }

                    @include m.dark {
                        filter: brightness(1.2);
                        filter: drop-shadow(0 0 1px map-get(p.$light-theme-colors, primary));
                    }
                }
            }
        }
    }
}

.about {
    @include m.tablet {
        @include section-display(flex, column, center, center, center);
    }

    @include m.desktop {
        @include section-display(flex, column, center, center, left);
    }

    @include section-background;
}