@use "typography";
@use "background";
@use "nav";
@use "section";
@use "footer";
@use "button";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    min-height: calc(100% + constant(safe-area-inset-top));
    min-height: calc(100% + env(safe-area-inset-top));
}