@use "typography";
@use "nav";
@use "section";
@use "footer";
@use "button";
@use "palette"as p;
@use "mixins"as m;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    @include m.light {
        background-color: map-get(p.$light-theme-colors, primary);
    }

    @include m.dark {
        background-color: map-get(p.$dark-theme-colors, primary);
    }
}

.stars,
.twinkling,
.clouds {
    width: 100%;
    height: 100%;
}

.stars {
    z-index: -3;
    background: transparent url('/images/stars.webp') repeat top center;
}

.twinkling {
    z-index: -2;
    background: transparent url('/images/twinkling.webp') repeat top center;
    animation: move-twink-back 200s linear infinite;

    @keyframes move-twink-back {
        from {
            background-position: 0 0;
        }

        to {
            background-position: -10000px 5000px;
        }
    }
}

.clouds {
    z-index: -1;
    background: transparent url('/images/clouds.webp') repeat top center;
    animation: move-clouds-back 200s linear infinite;

    @keyframes move-clouds-back {
        from {
            background-position: 0 0;
        }

        to {
            background-position: 10000px 0;
        }
    }
}