body {
  margin: 0;
  padding: 0;
}
:root[data-theme=light] body {
  background-color: #ffffff;
  color: black;
}

:root[data-theme=dark] body {
  background-color: #000000;
  color: #ffffff;
}

body a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px 0 40px;
}
.navbar__link {
  font-weight: 900;
}
.navbar__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navbar__list__item {
  font-weight: 700;
  padding: 0 20px 0 20px;
}
:root[data-theme=light] .navbar {
  background-color: #f3f4f6;
}

:root[data-theme=dark] .navbar {
  background-color: #222222;
}

.footer {
  padding: 15px;
}
.footer--center {
  text-align: center;
}
.footer__span {
  color: #e74c3c;
}
:root[data-theme=light] .footer {
  background-color: #f3f4f6;
  color: black;
}

:root[data-theme=dark] .footer {
  background-color: #222222;
  color: #ffffff;
}
