$light-mode-primary-bg-color: #ffffff;
$light-mode-secondary-bg-color: #f3f4f6;
$light-mode-primary-text-color: black;
$light-mode-secondary-text-color: #00ba34;
$light-mode-hover-bg-color: #00ba34;
$dark-mode-primary-bg-color: #000000;
$dark-mode-secondary-bg-color: #222222;
$dark-mode-primary-text-color: #ffffff;
$dark-mode-secondary-text-color: #17cb49;
$dark-mode-hover-bg-color: #17cb49;
$heart-color: #e74c3c;