// Base font
$font-family-base: 'Roboto',
'Helvetica Neue',
Arial,
sans-serif;


// Heading font
$font-family-heading: 'Roboto Slab',
'Helvetica Neue',
Arial,
sans-serif;


// Font weights
$font-weight-bolder: 900;
$font-weight-bold: 700;
$font-weight-normal: 500;
$font-weight-light: 300;



// Line heights
$line-height-base: 1.42857143;
$line-height-computed: $line-height-base;


// Font size
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;


// Line-height
$leading-base: 1.5;
$leading-tight: 1.25;
$leading-normal: 1.5;
$leading-loose: 2;


// Letter-spacing
$letter-spacing-base: 0;
$letter-spacing-tight: -0.05em;
$letter-spacing-normal: 0;
$letter-spacing-wide: 0.05em;

h1 {
    font-family: $font-family-heading;
    font-size: $font-size-h1;
    line-height: $leading-base;
    letter-spacing: $letter-spacing-normal;
}

h2 {
    font-family: $font-family-heading;
    font-size: $font-size-h2;
    line-height: $leading-base;
    letter-spacing: $letter-spacing-normal;
}

h3 {
    font-family: $font-family-heading;
    font-size: $font-size-h3;
    line-height: $leading-normal;
    letter-spacing: $letter-spacing-normal;
}

h4 {
    font-family: $font-family-heading;
    font-size: $font-size-h4;
    line-height: $leading-normal;
    letter-spacing: $letter-spacing-normal;
}

h5 {
    font-family: $font-family-heading;
    font-size: $font-size-h5;
    line-height: $leading-normal;
    letter-spacing: $letter-spacing-normal;
}

h6 {
    font-family: $font-family-heading;
    font-size: $font-size-h6;
    line-height: $leading-normal;
    letter-spacing: $letter-spacing-normal;
}

p,
a,
li {
    font-family: $font-family-base;
    line-height: $line-height-base;
}

a {
    font-weight: $font-weight-bold;
}