@use "./../../scss/palette.module" as p;
@use "./../../scss/mixins.module" as m;

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    min-height: calc(100% + constant(safe-area-inset-top));
    min-height: calc(100% + env(safe-area-inset-top));

    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

section {
    $section-padding-default: (
        small: (
            15vh 7vw,
        ),
        medium: (
            30vh 10vw 40vh,
        ),
        _: (
            35vh 10vw 40vh,
        ),
    );

    padding: map-get($section-padding-default, _);

    @include m.small-screen {
        padding: map-get($section-padding-default, small);
    }

    @include m.medium-screen {
        padding: map-get($section-padding-default, medium);
    }
}
