@use "../partials/palette"as p;
@use "../partials/typography"as t;
@import "../partials/mixins";

body {
    margin: 0;
    padding: 0;

    @include light {
        background-color: p.$light-mode-primary-bg-color;
        color: p.$light-mode-primary-text-color;
    }

    @include dark {
        background-color: p.$dark-mode-primary-bg-color;
        color: p.$dark-mode-primary-text-color;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}