@use "../partials/palette"as p;
@import "../partials/mixins";

.footer {
    padding: 15px;

    &--center {
        text-align: center;
    }

    &__span {
        color: p.$heart-color;
    }

    @include light {
        background-color: p.$light-mode-secondary-bg-color;
        color: p.$light-mode-primary-text-color;
    }

    @include dark {
        background-color: p.$dark-mode-secondary-bg-color;
        color: p.$dark-mode-primary-text-color;
    }
}