@use "../partials/palette"as p;
@use "../partials/typography"as t;
@import "../partials/mixins";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px 0 40px;

    &__list {
        display: flex;
        justify-content: space-around;
        list-style: none;

        &__item {
            padding: 0 20px 0 20px;
        }
    }

    @include light {
        background-color: p.$light-mode-secondary-bg-color;
    }

    @include dark {
        background-color: p.$dark-mode-secondary-bg-color;
    }
}